# 2- Filling Missing Data
#### In this notebook, the single combined csv file is read and missing time periods are filled with new rows. The resulting csv is saved as `2-Null_Filled_Data.csv`

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../Dataframes/1-Combined_Data.csv')

In [2]:
df.sort_values(by = "OpenTime", inplace = True)
df

,OpenTime,OpenPrice,HighPrice,LowPrice,ClosePrice,Volume,CloseTime,QuoteVolume,Count,TakerBuyVolume,TakerBuyQuoteVolume,Ignore
0,1514764800000,13715.65,13715.65,13400.01,13556.15,123.616013,1514765699999,1.675545e+06,1572,63.227133,8.576108e+05,0
1,1514765700000,13533.75,13550.87,13402.00,13521.12,98.136430,1514766599999,1.321757e+06,1461,47.686389,6.422812e+05,0
2,1514766600000,13500.00,13545.37,13450.00,13470.41,79.904037,1514767499999,1.078825e+06,1000,43.710406,5.900347e+05,0
3,1514767500000,13494.65,13690.87,13450.00,13529.01,141.699719,1514768399999,1.917783e+06,1195,73.897993,1.000614e+06,0
4,1514768400000,13528.99,13571.74,13402.28,13445.63,72.537533,1514769299999,9.778198e+05,898,34.257652,4.618369e+05,0
...,...,...,...,...,...,...,...,...,...,...,...,...
209797,1704062700000,42489.94,42489.94,42056.00,42257.88,1159.166970,1704063599999,4.901757e+07,44747,480.137220,2.029930e+07,0
209798,1704063600000,42257.89,42345.65,42196.61,42230.13,637.999230,1704064499999,2.697349e+07,20478,279.100180,1.179890e+07,0
209799,1704064500000,42230.14,42235.09,42066.00,42181.80,614.770270,1704065399999,2.590890e+07,18893,258.581590,1.089679e+07,0
209800,1704065400000,42181.81,42242.95,42154.34,42241.09,215.210450,1704066299999,9.084032e+06,8166,114.601480,4.837548e+06,0
209801,1704066300000,42241.09,42283.59,42221.22,42283.58,242.157260,1704067199999,1.023162e+07,7999,125.174210,5.289122e+06,0

In [3]:
df['TimeDiff'] = df['OpenTime'].diff()
insert_indices = (df.index[df['TimeDiff'] > 900000]-1).tolist()
print(insert_indices)

df[300:305].describe

[300, 3640, 3720, 3808, 16758, 16858, 17473, 27737, 30203, 41503, 47627, 49868, 56411, 65019, 66162, 73450, 74445, 75757, 80711, 86845, 101727, 103771, 104091, 108702, 110898, 115212, 115691, 126224, 130738, 182689]

<bound method NDFrame.describe of           OpenTime  OpenPrice  HighPrice  LowPrice  ClosePrice      Volume  \
300  1515034800000   15110.90   15119.98  15110.90    15119.97    4.635181
301  1515042000000   15119.97   15119.97  14850.00    14913.99  225.338747
302  1515042900000   14914.00   14919.23  14730.00    14752.02  263.864839
303  1515043800000   14752.02   14924.21  14730.01    14885.00  186.632784
304  1515044700000   14885.00   14924.22  14865.00    14875.10  213.007581

         CloseTime   QuoteVolume  Count  TakerBuyVolume  TakerBuyQuoteVolume  \
300  1515034814838  7.005581e+04     34        1.445181         2.184474e+04
301  1515042899999  3.357766e+06   1718       99.956469         1.488179e+06
302  1515043799999  3.918198e+06   2084      139.502297         2.072475e+06
303  1515044699999  2.768357e+06   1706      102.300781         1.518215e+06
304  1515045599999  3.172711e+06   1739      125.892967         1.875351e+06

     Ignore   TimeDiff
300       0   900000.0
301       0  7200000.0
302       0   900000.0
303       0   900000.0
304       0   900000.0  >

In [4]:
df[300:305].describe

<bound method NDFrame.describe of           OpenTime  OpenPrice  HighPrice  LowPrice  ClosePrice      Volume  \
300  1515034800000   15110.90   15119.98  15110.90    15119.97    4.635181
301  1515042000000   15119.97   15119.97  14850.00    14913.99  225.338747
302  1515042900000   14914.00   14919.23  14730.00    14752.02  263.864839
303  1515043800000   14752.02   14924.21  14730.01    14885.00  186.632784
304  1515044700000   14885.00   14924.22  14865.00    14875.10  213.007581

         CloseTime   QuoteVolume  Count  TakerBuyVolume  TakerBuyQuoteVolume  \
300  1515034814838  7.005581e+04     34        1.445181         2.184474e+04
301  1515042899999  3.357766e+06   1718       99.956469         1.488179e+06
302  1515043799999  3.918198e+06   2084      139.502297         2.072475e+06
303  1515044699999  2.768357e+06   1706      102.300781         1.518215e+06
304  1515045599999  3.172711e+06   1739      125.892967         1.875351e+06

     Ignore   TimeDiff
300       0   900000.0
301       0  7200000.0
302       0   900000.0
303       0   900000.0
304       0   900000.0  >

In [5]:
import pandas as pd
import numpy as np

# Assuming df is your DataFrame

# Calculate the time difference between consecutive rows
df['TimeDiff'] = df['OpenTime'].diff()

# Identify where to insert rows (where TimeDiff > 900000)
insert_indices = (df.index[df['TimeDiff'] > 900000]-1).tolist()

new_rows_list = []  # Use a list to collect new rows, for efficiency

# Get the last valid index in your DataFrame
last_valid_index = df.index[-1]

for insert_index in insert_indices:
    # Check if the insert_index is not the last index
    if insert_index != last_valid_index:
        current_time = df.at[insert_index, 'OpenTime']
        
        next_time = df.at[insert_index + 1, 'OpenTime']

        num_inserts = int((next_time - current_time) / 900000) - 1

        for i in range(1, num_inserts + 1):
            new_time = current_time + (i * 900000)
            new_row = [new_time] + [np.nan] * (len(df.columns) - 2)
            new_rows_list.append(new_row)

# Create a DataFrame from the list of new rows
new_rows_df = pd.DataFrame(new_rows_list, columns=df.columns[:-1])  # Exclude TimeDiff from the column names

# Drop the TimeDiff column from the original DataFrame
df.drop(columns=['TimeDiff'], inplace=True)

# Concatenate the original DataFrame with the new rows DataFrame
df = pd.concat([df, new_rows_df], ignore_index=True).sort_values(by='OpenTime').reset_index(drop=True)

print(df)

             OpenTime  OpenPrice  HighPrice  LowPrice  ClosePrice  \
0       1514764800000   13715.65   13715.65  13400.01    13556.15
1       1514765700000   13533.75   13550.87  13402.00    13521.12
2       1514766600000   13500.00   13545.37  13450.00    13470.41
3       1514767500000   13494.65   13690.87  13450.00    13529.01
4       1514768400000   13528.99   13571.74  13402.28    13445.63
...               ...        ...        ...       ...         ...
210331  1704062700000   42489.94   42489.94  42056.00    42257.88
210332  1704063600000   42257.89   42345.65  42196.61    42230.13
210333  1704064500000   42230.14   42235.09  42066.00    42181.80
210334  1704065400000   42181.81   42242.95  42154.34    42241.09
210335  1704066300000   42241.09   42283.59  42221.22    42283.58

             Volume     CloseTime   QuoteVolume    Count  TakerBuyVolume  \
0        123.616013  1.514766e+12  1.675545e+06   1572.0       63.227133
1         98.136430  1.514767e+12  1.321757e+06   1461.0       47.686389
2         79.904037  1.514767e+12  1.078825e+06   1000.0       43.710406
3        141.699719  1.514768e+12  1.917783e+06   1195.0       73.897993
4         72.537533  1.514769e+12  9.778198e+05    898.0       34.257652
...             ...           ...           ...      ...             ...
210331  1159.166970  1.704064e+12  4.901757e+07  44747.0      480.137220
210332   637.999230  1.704064e+12  2.697349e+07  20478.0      279.100180
210333   614.770270  1.704065e+12  2.590890e+07  18893.0      258.581590
210334   215.210450  1.704066e+12  9.084032e+06   8166.0      114.601480
210335   242.157260  1.704067e+12  1.023162e+07   7999.0      125.174210

        TakerBuyQuoteVolume  Ignore
0              8.576108e+05     0.0
1              6.422812e+05     0.0
2              5.900347e+05     0.0
3              1.000614e+06     0.0
4              4.618369e+05     0.0
...                     ...     ...
210331         2.029930e+07     0.0
210332         1.179890e+07     0.0
210333         1.089679e+07     0.0
210334         4.837548e+06     0.0
210335         5.289122e+06     0.0

[210336 rows x 12 columns]

In [6]:
df.sort_values(by = "OpenTime", inplace = True)

In [7]:
df.nunique()

OpenTime               210336
OpenPrice              195260
HighPrice              174655
LowPrice               175959
ClosePrice             194265
Volume                 209745
CloseTime              209802
QuoteVolume            209789
Count                   50766
TakerBuyVolume         209690
TakerBuyQuoteVolume    209789
Ignore                      1
dtype: int64

In [11]:
df.isna().sum()

OpenTime                 0
OpenPrice              534
HighPrice              534
LowPrice               534
ClosePrice             534
Volume                 534
CloseTime              534
QuoteVolume            534
Count                  534
TakerBuyVolume         534
TakerBuyQuoteVolume    534
Ignore                 534
TimeDiff                 1
dtype: int64

In [12]:
df.to_csv("2-null_complete.csv", index = False)

In [13]:
df.loc[df["OpenTime"] == 1529979300000]

,OpenTime,OpenPrice,HighPrice,LowPrice,ClosePrice,Volume,CloseTime,QuoteVolume,Count,TakerBuyVolume,TakerBuyQuoteVolume,Ignore,TimeDiff
16905,1529979300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,900000.0